{% load i18n %}
{% load static %}
{% load rules %}
{% load tetrasBI_extras %}
{% has_perm 'dashboards.add_dashboard' user dash as can_edit %}
{% has_perm 'dashboards.share_dashboard' user dash as can_share %}
{% has_perm 'dashboards.share_dashboard_by_link' user dash as can_share_by_link %}

<div class="col-xl-4 col-md-6 col-sd-12 tl-filterable tl-sortable">
    <div class="tl-card mb-2 mt-2" id="{{dash.id}}" data-url="/dashboard/{{dash.id}}">
        <div class="tl-card-header">
            <h5 class="tl-card-title tl-pointer" onclick='window.location="/dashboard/{{ dash.id }}"'>
                {% with title_end=dash.title|truncatechars:25|slice:"-1:" %}
                <span class="tl-in-list-view tl-sortable-criterion-title tl-filterable-content"
                      data-sort-criterion-label="{% trans 'Title' %}"
                      {% if title_end == '…' %}
                        data-toggle="tooltip"
                        data-placement="top"
                        title="{{ dash.title }}"
                      {% endif %}
                      >{{ dash.title|truncatechars:25 }}</span>
                {% endwith %}
                <span class="ml-1 mdi mdi-arrow-right"></span>
            </h5>
            {% if can_edit %}
                <div class="row">
                    <div data-sort-criterion-label="{% trans 'Sharing mode' %}"
                        class="col tl-sortable-criterion-sharedall mdi
                        {% if dash.sharedAll %}
                            mdi-lock-open-variant-outline"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="{% trans "Shared with all" %}"
                            >
                            {% trans "Shared with all" %}
                        {% elif dash.explicitViewers.all|length > 0 %}
                            mdi-share-variant-outline"
                            data-toggle="tooltip"
                            data-placement="top"
                            data-html="true"
                            title="
                                {% for viewer in dash.explicitViewers.all %}
                                    {% if viewer.first_name|add:viewer.last_name|length > 0 %}
                                        {{ viewer.first_name }} {{ viewer.last_name }}
                                    {% else %}
                                        {{ viewer.username }}
                                    {% endif %}
                                    <br />
                                {% endfor %}
                            ">
                            {% trans "Shared" %}
                            <span class="badge badge-pill badge-dark">{{ dash.explicitViewers.all|length }}</span>
                        {% else %}
                            mdi-lock-outline"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="{% trans "Private" %}"
                            >
                            {% trans "Private" %}
                        {% endif %}
                    </div>

                    <div data-sort-criterion-label="{% trans 'Code togglable/hidden' %}"
                         class="col tl-sortable-criterion-sourcesVisible mdi mdi-file-code-outline
                        {% if dash.sourcesVisible %}
                            "
                            data-toggle="tooltip"
                            data-placement="top"
                            title="{% trans "Togglable" %}"
                            >
                        {% trans "Togglable" %}
                        {% else %}
                            disabled"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="{% trans "Hidden" %}"
                            >
                        {% trans "Hidden" %}
                        {% endif %}
                    </div>
                    <div data-sort-criterion-label="{% trans 'Renderer NbvViewer/Voila' %}"
                         class="col tl-sortable-criterion-precomputed mdi
                        {% if dash.precomputed %}
                            mdi-notebook-check-outline"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="{% trans "NbViewer" %}"
                            >
                        {% trans "NbViewer" %}
                        {% else %}
                            mdi-notebook-outline"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="{% trans "Voilà" %}"
                            >
                        {% trans "Voilà" %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="tl-card-body">
            <p data-sort-criterion-label="{% trans 'Description' %}"
               class="card-text tl-dashboard-description tl-sortable-criterion-description tl-filterable-content tl-in-list-view
               {% if 'scrollDescr' in dash %}
                       pointer mdi mdi-chevron-down" onclick='tl.toggleOverflow(this)'
               {% else %}
               "
               {% endif %}
               >
               {{ dash.description | linebreaksbr }}
            </p>
            <div id="{{dash.id}}_img" class="mb-4">
                <img class="tl-card-img-top" src="
                                               {% if dash.img %}
                                               {% get_media_prefix %}{{dash.img | urlencode}}
                                               {% else %}
                                               {% static 'theme/custom/undraw_dashboard.svg'|customOrDefault %}
                                               {% endif %}
                                               " title="image for {{ dash.title }}" alt="" />

            </div>

            <div class="btn-group m-2 tl-in-list-view">
                {% if can_share_by_link or can_share %}
                    <button type="button"
                            class="tl-btn tl-btn-primary"
                            id="share_dashboard_{{ dash.id }}"
                    >
                        <i class="mdi mdi-share-variant mr-1"></i>
                        {% trans "Share" %}
                    </button>
                {% endif %}
            </div>

            <div class="btn-group m-2 tl-in-list-view">
                {% if can_edit %}
                    <button type="button"
                            class="tl-btn tl-btn-primary"
                            id="update_dashboard_{{ dash.id }}"
                    >
                        <i class="mdi mdi-pencil mr-1"></i>
                        {% trans "Edit" %}
                    </button>
                {% endif %}
            </div>
        </div> {# card body #}
    </div> {# card #}
</div> {# col #}
