{% extends "components/modal.html" %}
{% load i18n %}

{% block "modalBefore" %}
<div id="status" data-status="{{ status }}" class="d-none"></div>
{% endblock %}

{% block "modalId" %}{% if dashboard %}editDashboardModal_{{ dashboard.id }}{% else %}editDashboardModal_0{% endif %}{% endblock %}
{% block "modalClass" %}editDashboardModal{% endblock %}
{% block "modalTitle" %}
    {% if dashboard %}
        {% trans "Update dashboard" %} {{  dashboard.title }}
    {% else %}
        {% trans "Add a new dashboard" %}
    {% endif %}
{% endblock %}
{% block "modalFormAction" %}{% endblock %}
{% block "modalBody" %}
    {% include "components/formfields.html" with form=form submit=False classes="" %}
    <div class="modal-footer">
        <div class="pr-3">
            <button type="button" class="delete-dashboard-btn tl-btn tl-btn-danger" name="delete">
                <i class="mdi mdi-trash-can-outline mr-1"></i>
                {% trans "Delete" %}
            </button>
        </div>
        <div class="pl-3">
        <button type="button" class="tl-btn tl-btn-secondary" data-dismiss="modal">
            <i class="mdi mdi-cancel mr-1"></i>
            {% trans "Cancel" %}
        </button>
        <button type="submit" class="tl-btn tl-btn-primary">
            {% trans "Save" %}
            <i class="mdi mdi-arrow-right ml-1"></i>
        </button>
        </div>
    </div>
{% endblock %}
