{% load i18n %}
<div id="tl-grid-view" class="row
                       {% if dashboards|length < 3 %}
                       justify-content-center
                       {% endif %}
                       ">
    {% if dashboards|length > 0 %}
        {% for dash in dashboards %}
            {% include 'dashboards/_card.html' with dash=dash %}
        {% endfor %}
        {% else %}
            <div class="tl-card w-50 tl-center">
                <div class="tl-card-header">
                    <h2>
                        {% trans "No dashboard available yet" %}
                    </h2>
                    <p>
                </div>
                <div class="tl-card-body">
                    <p>
                    {% if can_edit %}
                        {% trans "You need to create jupyter notebooks. You can open jupyter from the main menu." %}
                    {% else %}
                        {% trans "Please wait while we are building beautiful dashboards for you." %}
                    {% endif %}
                    </p>
                </div>
            </div>
    {% endif %}
    <div class="tl-card w-50 tl-center tl-filterable-nothing tl-sortable-persistent tl-hidden">
        <div class="tl-card-header">
            <h2>
                {% trans "No card matches your filter" %}
            </h2>
            <p>
        </div>
        <div class="tl-card-body">
            <p>
            {% trans "Please update your filter." %}
            </p>
        </div>
    </div>
</div>
