{% extends "components/modal.html" %}
{% load i18n %}

{% block "modalBefore" %}
<div id="status" data-status="{{ status }}" class="d-none"></div>
{% endblock %}

{% block "modalId" %}editShareModal_{{ dashboard.id }}{% endblock %}
{% block "modalTitle" %}
    {% trans "Share the dashboard" %}
    {{  dashboard.title }}
{% endblock %}
{% block "modalFormAction" %}{% endblock %}
{% block "modalBody" %}
    {% include "components/formfields.html" with form=form submit=False classes="" %}
    <div class="modal-footer">
        <div class="pl-3">
        <button type="button" class="tl-btn tl-btn-secondary" data-dismiss="modal">
            <i class="mdi mdi-cancel mr-1"></i>
            {% trans "Cancel" %}
        </button>
        <button type="submit" class="tl-btn tl-btn-primary">
            {% trans "Save" %}
            <i class="mdi mdi-arrow-right ml-1"></i>
        </button>
        </div>
    </div>
{% endblock %}