
{% extends "components/table.html"%}
{% load i18n %}


{% block thead %}
    <th data-sortable="false" data-field="{% trans "view" %}" data-searchable="false" scope="col">{% trans "View" %}</th>
    <th data-sortable="true" data-field="{% trans "name" %}" scope="col">{% trans "Name" %}</th>
    <th data-sortable="true" data-field="{% trans "description" %}" scope="col">{% trans "Description" %}</th>
    <th data-sortable="false" data-field="{% trans "link" %}" data-searchable="false" scope="col">{% trans "Public link" %}</th>
    <th data-sortable="false" data-field="{% trans "update" %}" data-searchable="false" scope="col">{% trans "Update" %}</th>
{% endblock %}
{% block tbody %}
{% endblock%}
