{% extends "layouts/base.html" %}
{% load i18n %}
{% load rules %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block filters %}
    {% include "components/filters.html" %}
{% endblock %}

{% block context_title %}{% trans "Dashboards" %}{% endblock %}

{% block context_nav %}
    <button type="button"
            id="toggle-view"
            value="grid"
            class="tl-btn tl-btn-primary mr-2 mdi mdi-format-list-bulleted-square"
            title="{% trans 'Toggle view' %}"
            onClick="tl.toggleView('button#toggle-view')"
            >
    </button>
    {% has_perm 'dashboards.add_dashboard' user as can_add %}
    {% if can_add %}
        <button type="button"
                class="tl-btn tl-btn-primary mr-2 mdi mdi-plus"
                title="{% trans 'add a new dashboard' %}"
                id="update_dashboard_0"
                >
        </button>
    {% endif %}
{% endblock %}


{% block content %}
    {% if scroll %}
        <script type="text/javascript">
            $().ready(function (){
                            tl.scrollTo('{{scroll}}');
                        });
        </script>
    {% endif %}
    {% has_perm 'dashboards.add_dashboard' user as can_edit %}
    {% include "dashboards/_table.html" with table_identifier="tl-list-view" table_classes="tl-hidden"%}
    {% include "dashboards/_grid.html" with dashboards=object_list table_identifier="tl-grid-view" %}

    <div id="modal-container"></div>

{% endblock %}
