{% extends "layouts/base.html" %}
{% load i18n %}
{% load static %}
{% load tetrasBI_extras %}


{% block title %}{{ title }}{% endblock %}

{%if sharer %} {% block nav_context %}{% trans "Shared by" %} {{sharer}} {% endblock %}{%endif%}

{% block context_title %}{{title}}{% endblock %}

{% block context_nav %}
    <button class="tl-btn tl-btn-primary mr-2 mdi mdi-table-of-contents" type="button" id="toc-toggle" data-toggle="collapse" data-target="#tl-navbarToggleExternalContent" aria-controls="tl-navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" title="{% trans "Table of contents" %}">
    </button>
    {% if sourcesVisible %}
        <button id="toggle-code" type="button" class="tl-btn tl-btn-primary mr-2 mdi mdi-file-code-outline" onclick="render.toggleCodeCells()" title="{% trans "Toggle code visibility" %}"></button>
    {% endif %}
{% endblock %}

{% block toc %}
<div class="pos-f-t collapse" id="tl-navbarToggleExternalContent">
    <nav id="tl-toc" data-toggle="toc" class="float-right" onclick="$('#toc-toggle').click()">
    </nav>
</div>
{% endblock %}

{% block content %}


<!-- Bootstrap TOC https://afeld.github.io/bootstrap-toc/ -->

<script type="text/javascript">
    var renderer = "{{ renderer }}"
    , sourcesVisible = "{{ sourcesVisible }}"
    , pathSafe = "{{path | safe}}"
</script>
<script type="text/javascript">
    $().ready(function (){
        // Move our stylesheets at the end to avoid being overpassed by voila's
        $("link.reload").each(function() {
            if ($(this).attr("rel").indexOf("stylesheet") > -1) {
                $('footer').prepend('<link rel="stylesheet" href="'+$(this).attr("href")+'" />');
                $(this).remove();
            }
        });
        render.default(pathSafe)
    });
</script>
<div id='spinner' class="ml-auto mr-auto tl-vertical-center">
    <div class="tl-center">
        {% trans "Loading in progress, please wait" %}
        <br />
        <span class="tl-spinner-grow-slow spinner-grow tl-text-transparent" style="height:80px;width:80px">
            <img  src='{% static 'theme/custom/loading.png'|loadingOrLogo|customOrDefault %}' height="60px" />
        </span>
    </div>
</div>
<div id='render' class="render ml-auto mr-auto">
</div>
{% endblock %}
