{% load i18n %}
{% load static %}
{% load rules %}
{% load tetrasBI_extras %}
{% has_perm 'TetrasBI.add_job_definition' user job_def as can_edit_job_def %}
{% has_perm 'TetrasBI.view_job' user as can_view_job %}

<div class="col-xl-4 col-md-6 col-sd-12 tl-filterable tl-sortable">
    <div class="tl-card mb-2 mt-2" id="{{job_def.job_definition_id}}">
        <div class="tl-card-header">
            <h5 class="tl-card-title tl-pointer">
                {% with title_end=job_def.name|truncatechars:25|slice:"-1:" %}
                <span class="tl-in-list-view tl-sortable-criterion-name tl-filterable-content"
                      data-sort-criterion-label="{% trans 'Name' %}"
                      {% if title_end == '…' %}
                        data-toggle="tooltip"
                        data-placement="top"
                        title="{{ job_def.name }}"
                      {% endif %}
                      >{{ job_def.name|truncatechars:25 }}</span>
                {% endwith %}
            </h5>
            <div class="row">
                <div class="tl-in-list-view col tl-sortable-criterion-status mdi
                    {% if job_def.active == True %}
                        mdi-play
                    {% else %}{% if job_def.active == False %}
                        mdi-pause
                    {% else %}
                        mdi-help
                    {% endif %}{% endif %}
                    ">
                    <span class="align-text-bottom">
                    {% if job_def.active == True %}
                        {% trans 'Running' %}
                    {% else %}{% if job_def.active == False %}
                        {% trans 'Paused' %}
                    {% else %}
                        {% trans 'Unknown' %}
                    {% endif %}{% endif %}
                    </span>
                </div>
            </div>
        </div>
        <div class="tl-card-body tl-job">

            <select class="selectpicker w-60 mb-4" name="select_job" title="{% trans 'Jobs outputs' %}">
                {% for job in job_def.jobs %}
                    <option id="view_job_{{ job.job_id }}"
                        {% if job.status == "COMPLETED" %}
                            data-content="<i class='mdi mdi-check-circle mr-1'></i>{{ job.end_time_human_readable }}"
                        {% else %}{% if job.status == "FAILED" %}
                            data-content="<i class='mdi mdi-alert-circle mr-1'></i>{{ job.start_time_human_readable }}"
                        {% else %}{% if job.status == "IN_PROGRESS" %}
                            data-content="<i class='mdi mdi-progress-clock mr-1'></i>{{ job.start_time_human_readable }}"
                        {% else %}
                            data-content="{{ job.start_time_human_readable }}"
                        {% endif %}{% endif %}{% endif %}
                    ></option>
                {% endfor %}
            </select>

            <dl class="row">
                <dt class="col text-right">
                    <button type="button"
                        {% if job_def.last_failed_job and job_def.last_failed_job.start_time_human_readable %}
                            class="tl-btn tl-btn-danger"
                            id="view_job_{{ job_def.last_failed_job.job_id }}"
                            {% if not can_view_job %}disabled{% endif %}
                        {% else %}
                            class="tl-btn tl-btn-secondary"
                            disabled
                        {% endif %}
                    >
                        <i class="mdi mdi-alert-circle mr-1"></i>
                        {% trans 'Last failed job' %}
                    </button>
                </dt>
                <dd class="tl-in-list-view col text-left d-flex align-items-center mb-0">
                    {% if job_def.last_failed_job and job_def.last_failed_job.start_time_human_readable %}
                        {{ job_def.last_failed_job.start_time_human_readable }}
                    {% else %}
                        {% trans "None" %}
                    {% endif %}
                </dd>
            </dl>

            <dl class="row">
                <dt class="col text-right">
                    <button type="button"
                        {% if job_def.last_completed_job and job_def.last_completed_job.end_time_human_readable %}
                            class="tl-btn tl-btn-success"
                            id="view_job_{{ job_def.last_completed_job.job_id }}"
                            {% if not can_view_job %}disabled{% endif %}
                        {% else %}
                            class="tl-btn tl-btn-secondary"
                            disabled
                        {% endif %}
                    >
                        <i class="mdi mdi-check-circle mr-1"></i>
                        {% trans 'Last completed job' %}
                    </button>
                </dt>
                <dd class="tl-in-list-view col text-left d-flex align-items-center mb-0">
                    {% if job_def.last_completed_job and job_def.last_completed_job.end_time_human_readable %}
                        {{ job_def.last_completed_job.end_time_human_readable }}
                    {% else %}
                        {% trans "None" %}
                    {% endif %}
                </dd>
            </dl>

            <hr class="tl-border-primary" />

            <dl class="row">
                <dt class="col text-right">{% trans 'Input filename' %}</dt>
                <dd class="tl-in-list-view col text-left tl-filterable-content mb-0">{{ job_def.input_filename }}</dd>
            </dl>

            <dl class="row">
                <dt class="col text-right">{% trans 'Schedule' %}</dt>
                <dd class="tl-in-list-view col text-left tl-filterable-content mb-0">{{ job_def.schedule_human_readable }}</dd>
            </dl>
            <dl class="row">
                <dt class="col text-right">{% trans 'Creation time' %}</dt>
                <dd class="col text-left tl-filterable-content mb-0">{{ job_def.create_time_human_readable }}</dd>
            </dl>
            <dl class="row">
                <dt class="col text-right">{% trans 'Update time' %}</dt>
                <dd class="col text-left tl-filterable-content mb-0">{{ job_def.update_time_human_readable }}</dd>
            </dl>

            {% if "parameters" in job_def %}
                <dl class="row">
                    <dt class="col text-right">{% trans 'Parameters' %}</dt>
                    <dd class="col text-left tl-filterable-content mb-0">
                        {% for p_name, p_value in job_def.parameters.items %}
                            {% if not forloop.first %}, {% endif %}
                            {{ p_name }}&nbsp;=&nbsp;{{ p_value }}
                        {% endfor %}
                    </dd>
                </dl>
            {% endif %}

            {% if "tags" in job_def %}
                <dl class="row">
                    <dt class="col text-right">{% trans 'Tags' %}</dt>
                    <dd class="col text-left tl-filterable-content mb-0">{{ job_def.tags|join:", " }}</dd>
                </dl>
            {% endif %}

        </div> {# card body #}

        <div class="tl-card-footer">
            <div class="btn-group m-2 tl-in-list-view">
                {% if can_edit_job_def %}
                    <button type="button"
                            class="tl-btn tl-btn-primary"
                            id="update_job_definition_{{ job_def.job_definition_id }}"
                    >
                        <i class="mdi mdi-pencil mr-1"></i>
                        {% trans "Edit" %}
                    </button>
                {% endif %}
            </div>
            <div class="btn-group m-2 tl-in-list-view">
                {% if can_edit_job_def %}
                    <button type="button"
                            class="tl-btn tl-btn-primary ml-2"
                            id="run_job_now_{{ job_def.job_definition_id }}"
                    >
                        <i class="mdi mdi-cog mr-1"></i>
                        {% trans "Run now" %}
                    </button>
                {% endif %}
            </div>
        </div>
    </div> {# card #}
</div> {# col #}
