{% extends "components/modal.html" %}
{% load i18n %}

{% block "modalBefore" %}
<div id="status" data-status="{{ status }}" class="d-none"></div>
{% endblock %}

{% block "modalId" %}{% if job_def %}editJobDefinitionModal_{{ job_def.id }}{% else %}editJobDefinitionModal_0{% endif %}{% endblock %}
{% block "modalClass" %}editJobDefinitionModal{% endblock %}
{% block "modalTitle" %}
    {% if job_action and job_action == 'run' %}
        {% trans "Run a job now" %}
    {% else %}{% if job_def %}
        {% trans "Update job definition" %} {{  job_def.name }}
    {% else %}
        {% trans "Add a new job definition" %}
    {% endif %}{% endif %}
{% endblock %}
{% block "modalFormAction" %}{% endblock %}
{% block "modalBody" %}
    {% include "components/formfields.html" with form=form submit=False classes="" %}
    <div class="modal-footer">
        <div class="pr-3">
            <button type="button" class="delete-job_def-btn tl-btn tl-btn-danger" name="delete">
                <i class="mdi mdi-trash-can-outline mr-1"></i>
                {% trans "Delete" %}
            </button>
        </div>
        <div class="pl-3">
        <button type="button" class="tl-btn tl-btn-secondary" data-dismiss="modal">
            <i class="mdi mdi-cancel mr-1"></i>
            {% trans "Cancel" %}
        </button>
        <button type="submit" class="tl-btn tl-btn-primary">
            {% trans "Save" %}
            <i class="mdi mdi-arrow-right ml-1"></i>
        </button>
        </div>
    </div>
{% endblock %}
