{% load i18n %}

<div id="tl-grid-view" class="row
                       {% if jobs_and_defs.total_count < 3 %}
                       justify-content-center
                       {% endif %}
                       ">
    {% if jobs_and_defs.total_count > 0 %}
        {% for job_def in jobs_and_defs.job_definitions %}
            {% include 'scheduling/_card.html' with job_def=job_def %}
        {% endfor %}
    {% else %}
        <div class="tl-card w-50 tl-center">
            <div class="tl-card-header">
                <h2>
                    {% trans "No job definition available yet" %}
                </h2>
                <p>
            </div>
            <div class="tl-card-body">
                <p>
                {% if can_edit_job_def %}
                    {% trans "You may want to create a new job definition." %}
                {% else %}
                    {% trans "Please wait for someone to create a job definition." %}
                {% endif %}
                </p>
            </div>
        </div>
    {% endif %}
    <div class="tl-card w-50 tl-center tl-filterable-nothing tl-sortable-persistent tl-hidden">
        <div class="tl-card-header">
            <h2>
                {% trans "No card matches your filter" %}
            </h2>
            <p>
        </div>
        <div class="tl-card-body">
            <p>
            {% trans "Please update your filter." %}
            </p>
        </div>
    </div>
</div>
