
{% extends "components/table.html"%}
{% load i18n %}


{% block thead %}
    <th data-sortable="true" data-field="{% trans "name" %}" data-searchable="true" scope="col">{% trans "Name" %}</th>
    <th data-sortable="true" data-field="{% trans "activity" %}" data-searchable="true" scope="col">{% trans "Activity" %}</th>
    <th data-sortable="true" data-field="{% trans "last_completed_job" %}" data-searchable="true" scope="col">{% trans "Last completed job" %}</th>
    <th data-sortable="true" data-field="{% trans "last_failed_job" %}" data-searchable="true" scope="col">{% trans "Last failed job" %}</th>
    <th data-sortable="true" data-field="{% trans "input_filename" %}" data-searchable="true" scope="col">{% trans "Input filename" %}</th>
    <th data-sortable="true" data-field="{% trans "schedule" %}" data-searchable="true" scope="col">{% trans "Schedule" %}</th>
    <th data-sortable="true" data-field="{% trans "update" %}" data-searchable="true" scope="col">{% trans "Update" %}</th>
    <th data-sortable="true" data-field="{% trans "run_now" %}" data-searchable="true" scope="col">{% trans "Run now" %}</th>
{% endblock %}
{% block tbody %}
{% endblock%}
