{% extends "layouts/base.html" %}
{% load i18n %}
{% load rules %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block filters %}
    {% include "components/filters.html" %}
{% endblock %}

{% block context_title %}{% trans "Jobs definitions" %}{% endblock %}

{% block context_nav %}
    <button type="button"
            id="toggle-view"
            value="grid"
            class="tl-btn tl-btn-primary mr-2 mdi mdi-format-list-bulleted-square"
            title="{% trans 'Toggle view' %}"
            onClick="tl.toggleView('button#toggle-view')"
            >
    </button>
    {% has_perm 'TetrasBI.add_job_definition' user as can_add_job_def %}
    {% if can_add_job_def %}
        <button type="button"
                class="tl-btn tl-btn-primary mr-2 mdi mdi-plus"
                title="{% trans 'add a new job definition' %}"
                id="update_job_definition_0"
                >
        </button>
    {% endif %}
{% endblock %}


{% block content %}
    {% if scroll %}
        <script type="text/javascript">
            $().ready(function (){
                tl.scrollTo('{{ scroll }}');
            });
        </script>
    {% endif %}
    {% has_perm 'TetrasBI.update_job_definition' user as can_edit_job_def %}
    {% include "scheduling/_table.html" with table_identifier="tl-list-view" table_classes="tl-hidden"%}
    {% include "scheduling/_grid.html" with table_identifier="tl-grid-view" %}

    <div id="modal-container"></div>

{% endblock %}
