$primaryBg: #5A8264;
$secondaryBg: #84998F;
$dangerBg: #822C2C;
$fg: white;  
$greyed: #DCDAD1;
$chart0: #4D4D4D; // curve #0
$chart1: #00B1D8; // bar #1
$chart2: #AD1579; // bar #2
$chart3: #B7CE20; // bar #3
