<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% load rules %}
{% load tetrasBI_extras %}
{% has_perm 'TetrasBI.manage_users' user as can_manage_users %}
{% has_perm 'TetrasBI.access_jupyter' user as can_access_jupyter %}
{% has_perm 'TetrasBI.manage_self_account' user as can_manage_self_account %}
{% has_perm 'TetrasBI.view_job_definition' user as can_view_jobs %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANG }}">
    <head>
        <meta name="referrer" content="origin">
        {# jquery #}
        <link rel="stylesheet" href="{% static '@mdi/font/css/materialdesignicons.min.css' %}"/>
        {# Tetras bi #}
        {# <link class="reload" rel="stylesheet" href="{% static 'tetras-bi.css' %}" /> #}
        <link rel="icon"  type="image/png"  href="{% static 'theme/custom/favicon.ico'|customOrDefault %}" />
        <script src="{% static 'js/main.bundle.js' %}"></script>
        <script src="{% static 'js/d3components.bundle.js' %}"></script>
		{# Translations #}
        <script src="/jsi18n/"></script>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <title>Tetras Lab -  {% block title %}{% endblock %}</title>
        {# navbar #}
        <header>
            <div id="tl-nav" class="">
                <nav class="tl-navbar navbar-expand-lg  navbar-dark">
                    <a class="tl-navbar-brand ml-0 col-lg-3" href="{% url 'home' %}">
                        <img src='{% static 'theme/custom/logo.png'|customOrDefault %}' class="float-left mr-2" height="60px" />
                        Tétras&nbsp;Lab<br />
                        <small>Data intelligence platform</small>
                    </a>
                    <div class="flex-grow-1 text-right">
                        {% if user.is_authenticated %}
                            <div class="btn-group m-2">
                                <button type="button" class="tl-btn tl-btn-primary dropdown-toggle mdi mdi-account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ user}}
                                </button>
                                <div class="tl-dropdown-menu dropdown-menu dropdown-menu-right">
                                    {% if can_manage_self_account %}
                                        <a class="tl-dropdown-item" href="{% url 'account' %}"><span class="mdi mdi-account-cog mr-1"></span>{% trans "Settings" %}</a>
                                    {% endif %}
                                    <a class="tl-dropdown-item" href="{% url 'dashboard' %}"><span class="mdi mdi-view-dashboard mr-1"></span>{% trans "Dashboards" %}</a>
                                    {% if can_view_jobs %}
                                        <a class="tl-dropdown-item" href="{% url 'scheduling' %}"><span class="mdi mdi-calendar-check mr-1"></span>{% trans "Jobs" %}</a>
                                    {% endif %}
                                    {% if can_access_jupyter %}
                                        <a class="tl-dropdown-item" href="{{ 'jupyter'|getUpstreamUrlWithQueryString:user }}" target="_blank"><span class="mdi mdi-code-braces mr-1"></span>{% trans "JupyterLab" %}</a>
                                    {% endif %}
                                    {% if can_manage_users %}
                                        <a class="tl-dropdown-item" href="/admin/users" ><span class="mdi mdi-account-multiple mr-1"></span>{% trans "Users" %}</a>
                                        <a class="tl-dropdown-item" href="{% url 'admin' %}"><span class="mdi mdi-cog-outline mr-1"></span>{% trans "Administration" %}</a>
                                    {% endif %}
                                    <a class="tl-dropdown-item"
                                       href="
                                    {% if user.is_impersonate %}
                                        {% url 'impersonate-stop' %}
                                    {% else %}
                                             {% url 'logout' %}
                                    {% endif %}
                                             ">
                                        <span class="mdi mdi-power mr-1"></span>
                                        {% trans "Logout" %}
                                    </a>
                                </div>
                            </div>
                        {% else %}
                            {% block nav_context %} {% endblock %}
                        {% endif %}
                    </div>
                </nav>
            </div>
        </header>
        <div id="tl-sticky_container" class="sticky-top bk-root" style="z-index:100">
            <nav id="tl-context_nav" class="tl-navbar  navbar-expand-lg  navbar-dark  pt-1 pb-1" >
                <div class="col-sm">
                    <a href="/" title="{% trans "home" %}">
                        <img src='{% static 'theme/custom/logo.png'|customOrDefault %}' class="tl-sticky-hidden float-left mr-2 ml-2" height="40px"  title="{% trans "logo" %}"/>
                    </a>
                {% block filters %}{% endblock %}
                </div>
                <div class="col-sm tl-center">
                    <h2>{% block context_title %}{% endblock %}</h2>
                </div>
                <div class="col-sm tl-right">
                    <button id="scroll-top" type="button" class="tl-sticky-hidden tl-btn tl-btn-primary mr-2 mdi mdi-arrow-up" onclick="tl.scrollToTop()" title="{% trans "Scroll to top" %}"></button>
                    {% if help_url %}
                        <a href="{{help_url}}"><button id="help" type="button" class="tl-btn tl-btn-primary mr-2 mdi mdi-lifebuoy"  title="{% trans "Get some help" %}"></button></a>
                    {% endif %}
                    {% block context_nav %}{% endblock %}
                </div>
            </nav>
            {% block toc %}{% endblock %}
        </div>
        <div id="content" class="mr-4 ml-4 mt-2 mb-2">
                {# Display django.contrib.messages as Bootstrap alerts #}
                <div id="messages" class="sticky-top">
                    {% load bootstrap4 %}
                    {% bootstrap_messages %}
                </div>
                {% include "components/confirm_modal.html" %}
                {% block content %}{% endblock %}
        </div>
        <div id="tl-footer" class="mt-auto pt-2 pb-2">
            <div class="row align-items-center">
                <div class="col-sm tl-center">
                    {% trans "Propulsed by" %} Tetras Lab
                </div>
                <div class="col-sm tl-center">
                    &copy; Copyright 2020 - 2022 <a href="https://tetras-libre.fr">Tetras Libre</a>.<br />
                </div>
                <div class="col-sm tl-center">
                    <a target="_blank" href="https://gitlab.com/tetras-lab/tetras-lab"><i class="mdi mdi-gitlab"></i>{% trans "Source code" %}</a>
                </div>
            </div>
        </div>
    </body>
