{% extends "layouts/base.html" %}

{% block content %}

    <div class="tl-vertical-center">
        <div class="tl-card w-50 tl-center">
            <div class="tl-card-header">
                <h2>
                    {% block cardheader %}
                    {% endblock %}
                </h2>
                <p>
            </div>
            <div class="tl-card-body">
                {% block cardbody %}
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}
