{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %}{% trans "Administration" %}{% endblock %}
{% block context_title %}{% trans "Administration" %}{% endblock %}

{% block content %}
<div class="container">
	<div id="tl-accordion">
		{% for section, data in info.items %}
		<div class="tl-card  mb-2 mt-2">
			<div class="tl-card-header tl-pointer"
				 id="heading_{{section}}"
				 data-toggle="collapse"
				 data-target="#collapse_{{section}}"
				 aria-expanded="true"
				 aria-controls="collapse_{{section}}">
				<h3 class="mb-0 text-left">
					{% trans section %}
				</h3>
			</div>
			<div id="collapse_{{section}}" class="collapse {% if forloop.first and not theme_post %}show{% endif %}" aria-labelledby="heading_{{section}}" data-parent="#tl-accordion">
				<div class="tl-card-body text-left">
					{% for key, val in data.items %}
                        <div class="row mt-2 mb-2">
                            <div class="col-md-6">
						    	{{key}}
                            </div>
							<div class="col-md-{% if 'additionnal' in val %}3{% else %}6{% endif %}">
                                    <span class="font-monospace {% if val.status is True %}badge tl-success mdi mdi-check-circle-outline {% elif val.status is False %}badge tl-danger mdi mdi-alert-circle-outline{% endif %}">
                                        {{ val.data }}
                                    </span>
                            </div>
						    {% if "additionnal" in val %}
                            <div class="col-md-3">
						    	<button type="button" class="btn tl-btn-secondary" data-toggle="modal" data-target="#additionnalDataModal_{{key}}">{% trans "details" %}<i class="mdi mdi-eye-outline ml-1"></i></button>
                                {% include "admin/_more_info_modal.html" with key=key val=val %}
                            </div>
						    {% endif %}
                        </div>
					{% endfor %}
				</div>
			</div>
		</div>
		{% endfor %}
		<div class="tl-card  mb-2 mt-2">
			<div class="tl-card-header tl-pointer"
				 id="theme"
				 data-toggle="collapse"
				 data-target="#collapse_theme"
				 aria-expanded="false"
				 aria-controls="collapse_theme">
				<h3 class="mb-0 text-left">{% trans "Theme" %}</h3>
			</div>
			<div id="collapse_theme" class="collapse {% if theme_post %}show{% endif %}" aria-labelledby="heading_theme" data-parent="#tl-accordion">
				<div class="tl-card-body text-left">
					{{ form.media }}
					<form method="POST" enctype="multipart/form-data" class="row">
						{% csrf_token %}
						{% include "components/formfields.html" with form=form submit=submit classes="mw-50 ml-3" %}
						<div class="col-12"></div>
						<div class="col-12 mb-3 mt-3 mr-3">
							<button type="button" class="delete-dashboard-btn tl-btn tl-btn-danger" name="reset" onClick="tl.confirmThemeReset()">
								<i class="mdi mdi-restart mr-1"></i>
								{% trans "Reset" %}
							</button>
							<button type="button" class="tl-btn tl-btn-secondary ml-3" onClick="location.reload();">
								<i class="mdi mdi-cancel mr-1"></i>
								{% trans "Cancel" %}
							</button>
							<button type="submit" class="tl-btn tl-btn-primary ml-3">
								{% trans "Save" %}
								<i class="mdi mdi-arrow-right ml-1"></i>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% if theme_post %}
	<script type="text/javascript">
		$().ready(function (){
			tl.scrollTo('#theme');
		});
	</script>
{% endif %}
{% endblock %}
