{% extends "components/table.html"%}
{% load i18n %}
{% load tetrasBI_extras %}

{% block thead %}
    <th data-sortable="true" >{% trans "Username" %}</th>
    <th data-sortable="true" >{% trans "First name" %}</th>
    <th data-sortable="true" >{% trans "Last name" %}</th>
    <th data-sortable="true" >{% trans "Email" %}</th>
    <th data-sortable="true" >{% trans "Roles" %}</th>
    <th data-searchable="false" scope="col">{% trans "Actions" %}</th>
{% endblock %}

{% block tbody %}
    {% for u in users %}
        <tr>
            <td>{{ u.username }}</td>
            <td>{{ u.first_name }}</td>
            <td>{{ u.last_name }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.role|roleString }}</td>
            <td>
                <button type="button"
                    class="tl-btn tl-btn-primary"
                    id="update_user_{{ u.id }}">
                <i class="mdi mdi-pencil mr-1"></i>
                {% trans "Edit" %}
                </button>
                <form action="/impersonate/{{u.id}}/" method="GET">
                    <button type="submit" class="tl-btn tl-btn-secondary">
                        <i class="mdi mdi-incognito-circle mr-1"></i>
                        {% trans "Impersonate" %}
                    </button>
                </form>
                {% if u.email %}
                    <form method="POST" action="/admin/user/{{u.id}}/resetPW">
                        {% csrf_token %}
                        <input type="hidden" name="email" value="{{u.email}}"></input>
                        <button type="confirm" class="tl-btn tl-btn-danger">
                            <i class="mdi mdi-lock-reset mr-1"></i>
                                {% trans "Reset password" %}
                        </button>
                    </form>
                 {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
