{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %}{% trans "My Account" %}{% endblock %}
{% block context_title %}{% trans "Personnal settings" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="tl-card ">
                <div class="tl-card-header">
                    <h5 class="tl-card-title">
                        {% trans "Acount informations" %}
                    </h5>
                </div>
                <div class="tl-card-body">
                    {% include "components/form.html" with form=forms.user submit=True action="" classes="tl-center"%}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="tl-card ">
                <div class="tl-card-header">
                    <h5 class="tl-card-title">
                        {% trans "Password" %}
                    </h5>
                </div>
                <div class="tl-card-body">
                    <div class="">
                        {% include "components/form.html" with form=forms.pwd submit=True action="" classes="tl-center"%}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
