{% extends "layouts/base.html" %}
{% load i18n %}
{% load static %}


{% block title %}{% trans "User management" %}{% endblock %}

{% block context_title %}{% trans "Users" %}{% endblock %}


{% block filters %}
    {% include "components/filters.html" %}
{% endblock %}

{% block context_nav %}
    <button type="button"
            class="tl-btn tl-btn-primary mr-2 mdi mdi-plus"
            title="{% trans "add a new user" %}"
            id="update_user_0"
            >
    </button>
{% endblock %}


{% block content %}
    {% include "users/_users_table.html" with users=object_list table_identifier="users_table" table_classes="" %}
    <div id="modal-container"></div>
{% endblock %}

