/* ==== Charts ==== */

@import './colors';


div.render {

    // seems like it doesn't work...
    @for $i from 0 through 3 {
        .fill.color-#{$i} {
            // fill: blue;
            fill: map-get($fillColors, #{$i})
        }
    }
    .stroke {
        @for $i from 0 through 3 {
            &.color-#{$i} {
                // fill: blue;
                stroke: map-get($fillColors, #{$i})
            }
        }
    }
    // / end seems like it doesn't work
    
    .fill {
        &.color-0 {
            fill: map-get($fillColors, 0);
        }
        &.color-1 {
            fill: map-get($fillColors, 1);
        }
    }
    .stroke {
        &.color-0 {
            stroke: map-get($fillColors, 0);
        }
        &.color-1 {
            stroke: map-get($fillColors, 1);
        }
    }
    
    path, .eventrect {
        fill: transparent;
    }
    
    // tooltips
    .charttooltip {
        rect.tooltipbg {
            fill: $white;
        }
    }
} // /div.render





