@debug "primaryBg: #{$primaryBg}";


/* Primary, secondary and danger */
$primaryFg: $fg;
$primaryFgDisabled: desaturate($primaryBg, 30%); // #99aa99
$primaryHoverBg: lighten($primaryBg, 15%); // #75A881 
$primaryHoverFg:$fg;

$secondaryFg: $fg;
$secondaryHoverBg: lighten($secondaryBg, 15%); // #A7C2B5
$secondaryHoverFg: $fg;

$dangerFg: $fg;
$dangerHoverBg: saturate($dangerBg, 20%); // #A83939
$dangerHoverFg: $fg;

/* Shades of grey */
$white : #FFFFFF ;
$greyLighter : lighten ($greyed, 15%); // #E1E1E1
$greyLight : $greyed; // #BEBEBE
$greyMedium : darken ($greyed, 15%); // #777777
$greyDark : darken ($greyed, 30%); // #424242
$greyDarker : darken ($greyed, 50%); // #31313F
$blackLight : darken ($greyed, 70%); // #09090A
$black : #000000  ;

/* Charts colors */
// defined before in js/chart_functions.js, now based on html class in scss/charts.scss
$fillColors : (
    0 : $chart0, // curve #0
    1 : $chart1, // bar #1
    2 : $chart2, // bar #2
    3 : $chart3, // bar #3
);
