@import './colors';
@debug "undrawNewColor: #{$undrawNewColor}";

/*
 * Styles broken by nbviewer
 */
html {
    font-size: initial !important;
}
body {
    padding-top: 0 !important;
}

/*
 * Color theme
 */

 @import './colors';

/**
 * Internal classes
 */
.tl-right {
    text-align: right;
}

.tl-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.tl-vertical-center {
    /* Not 100% due to navbar and footer */
    min-height: 75%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 75vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}


.tl-dashboard-description {
    height: 21px;
    overflow-y: hidden;
    z-index: 2;
}

@media(min-width:992px){
    #navbarToggleExternalContent {
      position: fixed;
      z-index: 3;
      max-width: 15%;
    }
}

.tl-modal-header {
    text-align: center;
}

#tl-footer, #tl-nav, .tl-card-header, .tl-modal-header {
    background-color: $primaryBg;
    color: $primaryFg;
}

.tl-card-header {
    height: 4.6em;
    overflow: hidden;
}

#tl-context_nav {
    background-color: $primaryHoverBg;
    color: $primaryFg;
    padding-top: 4px;
    padding-bottom: 4px;
}

#tl-sticky_container {
    top: -1px;
}

#tl-context_nav h2 {
    font-size: 1.5rem;
    max-height: 28px;
    overflow-y: hidden;
}

#tl-context_nav .bk.panel-widget-box {
    background-color: unset;
    border: unset;
}
#tl-context_nav button.mdi::before {
    font-size: 16px !important;
    line-height: 8px !important;
}

#tl-sticky_container .tl-sticky-hidden {
    visibility:hidden;
}

#tl-sticky_container.is-pinned .tl-sticky-hidden {
    visibility:visible;
}

#tl-footer .disabled, #tl-nav .disabled, .tl-card-header .disabled, .tl-modal-header .disabled {
    color: $primaryFgDisabled;
}

@media(min-width:1024px){
    .tl-modal .tl-input-group-prepend {
        width: 150px;
    }
    .tl-input-group {
        max-width: 500px;
    }

    .tl-input-group-text {
        width: 250px;
    }
}

.tl-input-group input,.tl-input-group select{
    min-width: 150px !important;
}
div[name="cron_builder"]{
    font-size: 95%;
}
div[name="cron_builder"] select,
div[name="cron_builder"] input{
    min-width: 0px !important;
    font-size: 95%;
    padding: 0;
}
select[disabled] {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}
.select2-container {
    display: flex;
    flex: 1 1;
}
.select2-container .selection {
    width: 100%;
}
.select2-selection {
    height: 100% !important;
    border-color: $input-border-color !important;
}
.select2-selection > span {
    height: $input-line-height !important;
    line-height: $input-line-height !important;
}

.tl-close {
    color: $primaryFg;
}

a.tl-navbar-brand {
    text-decoration: none;
}

a.tl-navbar-brand:hover {
  opacity: 0.8;
}

a {
    text-decoration: underline;
}

#tl-footer a, #tl-nav a, .tl-card-header .tl-btn-link, .tl-card-header .tl-btn-link:hover {
    color: $primaryFg;
}

a.tl-dropdown-item {
    color: #212529 !important;
    text-decoration: none;
}

.tl-dropdown-menu {
    overflow: hidden;
}

a.tl-dropdown-item.danger {
    color: $dangerBg !important;
}

.tl-custom-file-label.disabled {
    color: $greyed;
}


.tl-card {
    text-align: center;
    border-color: $primaryBg;
}

.tl-card-img-top {
    height: 232px;
    width: 232px;
    object-fit: contain;
}

.tl-hidden {
    display: none;
}

.formError {
    color: $dangerBg;
}


/*
 * Bootstrap extends
 */

.tl-card{
    @extend .card;
}

.tl-card-header{
    @extend .card-header;
}

.tl-card-body{
    @extend .card-body;
}

.tl-card-footer{
    @extend .card-footer;
}

.tl-modal{
    @extend .modal;
}

.tl-modal-content {
    @extend .modal-content;
}

.tl-modal-title {
    @extend .modal-title;
}

.tl-modal-body {
    @extend .modal-body;
}

.tl-modal-header {
    @extend .modal-header;
}

.tl-input-group-text {
    @extend .input-group-text;
}

.tl-input-group {
    @extend .input-group;
}

.tl-border-primary{
    @extend .border-primary;
}

.tl-btn {
    @extend .btn;
}

.tl-btn-link {
    @extend .btn-link;
}

.tl-btn-outline-primary {
    @extend .btn-outline-primary;
}

.tl-btn-primary {
    @extend .btn-primary;
}

.tl-btn-outline-secondary{
    @extend .btn-outline-secondary;
}

.tl-btn-secondary {
    @extend .btn-secondary;
}

.tl-btn-danger {
    @extend .btn-danger;
}

.tl-btn-success {
    @extend .btn-success;
}

.tl-custom-file {
    @extend .custom-file;
}

.tl-custom-file-input {
    @extend .custom-file-input;
}

.tl-custom-file-label {
    @extend .custom-file-label;
}

.tl-dropdown-item {
    @extend .dropdown-item;
}

.tl-navbar {
    @extend .navbar;
}

.tl-navbar-brand {
    @extend .navbar-brand;
}

.tl-card-img-top {
    @extend .card-img-top;
}

.tl-close {
    @extend .close;
}

/*
 * Bootstrap extended classes
 */
.tl-btn {
    border-color: $primaryFg !important;
}

.tl-pointer {
    cursor: pointer;
}
.tl-pointer:hover {
    opacity: 0.8;
}

.tl-btn-outline-primary, .tl-btn-outline-primary:active, .tl-btn-outline-primary:visited{
    background-color: $primaryFg !important;
    color: $primaryBg !important;
}

.tl-btn-outline-primary:hover {
    background-color: $primaryHoverBg !important;
    color: $primaryHoverFg !important;
}

.tl-btn-primary, .tl-btn-primary:active, .tl-btn-primary:visited{
    background-color: $primaryBg !important;
    color: $primaryFg !important;
}

.tl-btn-primary:hover {
    background-color: $primaryHoverBg !important;
    color: $primaryHoverFg !important;
}

.tl-btn-secondary, .tl-btn-secondary:active, .tl-btn-secondary:visited{
    background-color: $secondaryBg !important;
    color: $secondaryFg  !important;
}

.tl-btn-danger, .tl-btn-danger:active, .tl-btn-danger:visited{
    background-color: $dangerBg !important;
    color: $dangerFg !important;
}

.tl-btn-danger:hover {
    background-color: $dangerHoverBg !important;
    color: $dangerHoverFg !important;
}

.tl-btn-secondary:hover{
    background-color: $secondaryHoverBg !important;
    color: $secondaryHoverFg !important;
}

.tl-border-primary{
    border-color: $primaryBg !important;
}

.tl-card-footer{
    background-color: #FFFFFF;
    border-top-width: 0px;
    padding-top: 0px
}

.tl-dropdown-item.active, .tl-dropdown-item:hover{
    background-color: $primaryHoverBg !important;
}

.tl-dropdown-item.active.danger, .tl-dropdown-item.danger:hover{
    background-color: $dangerBg !important;
    color: $dangerFg !important;
}

.tl-btn-primary:not(:disabled):not(.disabled).active, .tl-btn-primary:not(:disabled):not(.disabled):active, .show > .tl-btn-primary.dropdown-toggle, input:active, input:focus, .tl-btn:focus{
    box-shadow: 0 0 0 .2rem $primaryBg !important;
}

.tl-spinner-grow-slow {
    animation: spinner-grow 1.5s linear infinite
}

.tl-text-transparent {
    color: rgba(0,0,0,0);
}

/**
 * TOC
 */
#tl-toc {
    background-color: $secondaryHoverBg;
    max-width: 40%;
}
nav[data-toggle="toc"] .nav > li > a {
    color: $primaryFg;
}
nav[data-toggle="toc"] .nav > li > a:focus, nav[data-toggle="toc"] .nav > li > a:hover, nav[data-toggle="toc"] .nav > li > a.active {
    padding-left: 19px;
    color: $primaryBg !important;
    text-decoration: none;
    border-left: 1px solid $primaryBg;
}

#tl-navbarToggleExternalContent {
    position:inherit;
    max-width:inherit;
}

.tl-danger, .tl-success { color: $primaryFg; }

.tl-danger {
	background-color: $dangerBg;
}

.tl-success {
	background-color: $primaryBg;
}

.badge.mdi::before{
    font-size: 18px !important;
}

/* hover effects */
.tl-hover-img img {
    display: none;
    position: absolute;
    z-index: 99;
    right: 100%;
    bottom: 0%;
}
.tl-hover-right img {
    left: 50%;
    background-color: white;
}
.tl-hover-img:hover {
    cursor: help;
}
.tl-hover-img:hover img {
    display: block;
    border: 1px solid black;
}
.tl-hover-img .tl-hover-text {
    text-decoration: underline;
    text-decoration-style: dashed;
}
.tl-job {
    height: 420px;
    overflow: scroll;
    padding-bottom: 0px;
}
.tl-btn-advanced, .tl-btn-advanced:hover, .tl-btn-advanced:focus{
    border: 1px solid white;
    box-shadow: none !important;
    background-color: white;
    color: $secondaryBg !important;
}
