// remove space from string
@function str-replace($string, $search, $replace) {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

// convert string to list
@function str-split($string, $separator) {
    $split-arr: ();
    $index : str-index($string, $separator);
    @while $index != null {
        $item: str-slice($string, 1, $index - 1);
        $split-arr: append($split-arr, unquote($item));
        $string: str-slice($string, $index + 1);
        $index : str-index($string, $separator);
    }
    $split-arr: append($split-arr, unquote($string));
    @return $split-arr;
}

// convert string to number
@function number($string) {
    // Matrices
    $strings: '0' '1' '2' '3' '4' '5' '6' '7' '8' '9';
    $numbers: 0 1 2 3 4 5 6 7 8 9;

    // Result
    $result: 0;

    // Looping through all characters
    @for $i from 1 through str-length($string) {
        $character: str-slice($string, $i, $i);
        $index: index($strings, $character);

        @if not $index {
        @return false;
        }

        $number: nth($numbers, $index);
        $result: $result * 10 + $number;
    }

    @return $result;
}

@function convertStringToColor($colors) {
    $string: str-replace($colors, " ", "");
    $list: str-split($string, ',');
    $red: nth($list, 1);
    $green: nth($list, 2);
    $blue: nth($list, 3);

    $rgb: rgb(number($red), number($green), number($blue));

    @return $rgb;
}

// example
// $color-primary: '255, 0, 0' !default;
// $light-accent: lighten(convertStringToColor($color-primary), 40.5%) !default;


// -----------------------------------
// direct hex string to color conversion... but sass version is too old
// see https://github.com/sass/sass/issues/3189#issuecomment-943369257

// @use "sass:string";
// @use "sass:list";

// /// Convert an hexadecimal number to a decimal number
// /// @access private
// /// @param {String} $string - hexadecimal value
// /// @return {Number} - decimal number
// @function _hex-to-dec($string) {
//   $hex: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9" "a" "b" "c" "d" "e" "f";
//   $string: string.to-lower-case($string);
//   $length: string.length($string);

//   $dec: 0;
//   @for $i from 1 through $length {
//     $factor: 1 + (15 * ($length - $i));
//     $index: list.index($hex, string.slice($string, $i, $i));
//     $dec: $dec + $factor * ($index - 1);
//   }

//   @return $dec;
// }

// /// Cast a JSON encoded string into a hexadecimal color
// /// @access private
// /// @param {String} $string - JSON string
// /// @return {Color | String} - string or hex color depending on the match
// /// @require {function} _hex-to-dec
// @function from-hex($string) {
//   $string-lower: string.to-lower-case($string);
//   $r: "";  $g: ""; $b: "";
//   $hex: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9" "a" "b" "c" "d" "e" "f";
//   $length: string.length($string);
//   $max: if($length == 4, 1, 2);

//   // Check for length accuracy
//   @if $length != 4 and $length != 7 {
//     @return $string;
//   }

//   // Loop from the second character (omitting #)
//   @for $i from 2 through $length {
//     $c: string.slice($string-lower, $i, $i);

//     // If wrong character, return
//     @if list.index($hex, $c) == null {
//       @return $string;
//     }

//     @if string.length($r) < $max {
//       $r: $r + $c;
//     } @else if string.length($g) < $max {
//       $g: $g + $c;
//     } @else if string.length($b) < $max {
//       $b: $b + $c;
//     }
//   }

//   @if $length == 4 {
//     $r: $r + $r;
//     $g: $g + $g;
//     $b: $b + $b;
//   }

//   @return rgb(_hex-to-dec($r), _hex-to-dec($g), _hex-to-dec($b));
// }
