{% extends "components/modal.html" %}
{% load i18n %}

{% block "modalId" %}confirmModal{% endblock %}
{% block "modalTitle" %}{% endblock %}
{% block "modalBody" %}
<p class="tl-confirm-description" ></p>
<form name="confirmForm">
    <div class="modal-footer">
        <button type="button" class="tl-btn tl-btn-primary" data-dismiss="modal">
            <i class="mdi mdi-cancel mr-1"></i>
            {% trans "Cancel" %}
        </button>
        <button type="submit" class="tl-btn tl-btn-danger">
            {% trans "Proceed" %}
            <i class="mdi mdi-arrow-right ml-1"></i>
        </button>
    </div>
</form>
{% endblock %}
