{% load i18n %}
<button class="tl-btn tl-btn-primary mdi mdi-magnify mr-2"
        id="filtering-toggle"
        onclick="$('#filtering-controls').show();$(this).hide();"
        >
</button>
<div id="filtering-controls" class="input-group w-75" style="display:none">
    <div class="input-group-prepend">
        <button class="input-group-text tl-btn tl-btn-outline-primary tl-border-primary mdi mdi-magnify-minus-outline"
                onclick="$(this).parent().parent().hide();$('#filtering-toggle').show()"
                >
    </div>
    <input id="filter"
           type="search"
           class="form-control h-auto shadow-none border tl-border-primary"
           placeholder="{% trans 'filter...' %}"
           onKeyUp="tl.filterDomElements($(this).val())">
    <div class="input-group-append">
        <button id="reset-filter"
                type="button"
                class="input-group-text tl-btn tl-btn-outline-primary tl-border-primary mdi mdi-close-circle-outline"
                title="{% trans 'clear search' %}"
                onClick="tl.resetFilter('input#filter')">
        </button>
    </div>
    </div>
