{% load i18n %}
{% load tetrasBI_extras %}

{% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
{% endfor %}

{% for form_field in form|simpleConfiguration %}
    {% for error in form_field.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    {% if form_field.field.widget|getClass != 'HiddenInput' %}
        {% if form_field.field.widget|getClass not in 'TetrasBIFileInputWidget,TetrasBIHiddenTextWithBooleanWidget,TetrasBIImageInputWidget' %}
            <div class="tl-input-group {{classes}} mb-3 mt-3">
                <div class="input-group-prepend mr-1">
                    <label for="{{ form_field.name }}" class="tl-input-group-text">
                        {% if form_field.field.icon %}
                            <i class="mdi mdi-{{form_field.field.icon}} mr-1"></i>
                        {% endif %}
                        {{ form_field.label }}
                    </label>
                </div>
                {{ form_field }}
            </div>
        {% else %}
            {{ form_field }}
        {% endif %}
        {{ form_field.field.help_text | safe }}
    {% else %}
        {{ form_field }}
    {% endif %}
{% endfor %}

{% if form|advancedConfiguration|length %}
    <button class="tl-btn tl-btn-advanced"
            id="collapse-advanced-configuration"
            type="button"
            data-toggle="collapse"
            data-target="#advanced-configuration"
            aria-expanded="false"
            aria-controls="advanced-configuration">
        <i class="mdi mdi-chevron-right mr-1"></i>{% trans "Advanced" %}
    </button>
    <div class="collapse" id="advanced-configuration">
        {% for form_field in form|advancedConfiguration %}
            {% for error in form_field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
            <div class="tl-input-group {{classes}} mb-3 mt-3">
                <div class="input-group-prepend mr-1">
                    <label for="{{ form_field.name }}" class="tl-input-group-text">
                        {% if form_field.field.icon %}
                            <i class="mdi mdi-{{form_field.field.icon}} mr-1"></i>
                        {% endif %}
                        {{ form_field.label }}
                    </label>
                </div>
                {{ form_field }}
            </div>
            {{ form_field.field.help_text | safe }}
        {% endfor %}
    </div>
{% endif %}

{% if submit %}
    <div class="align-left pl-3">
        <button type="submit" class="tl-btn tl-btn-primary">
            {% trans "Validate" %}
            <i class="mdi mdi-arrow-right ml-1"></i>
        </button>
    </div>
{% endif %}
