{% load i18n %}

{% block "modalBefore" %}
{% endblock %}

<div class="tl-modal fade {% block "modalClass" %}{% endblock %}" id="{% block "modalId" %}{% endblock %}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="tl-modal-content">
            <div class="tl-modal-header">
                <h5 class="tl-modal-title tl-center" >{% block "modalTitle" %}{% endblock %}</h5>
                <button type="button" class="tl-close" data-dismiss="modal" aria-label='{% trans "Close" %}'>
                    <span class="mdi mdi-close-circle-outline" aria-hidden="true"></span>
                </button>
            </div>
            <form action="{% block "modalFormAction" %}{% endblock %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="tl-modal-body">
                    {% block "modalBody" %}
                    {% endblock %}
                </div>
            </form>
        </div>
    </div>
</div>

