
    <select id="sort-criterion"
            class="form-control h-auto shadow-none border tl-border-primary"
            onChange="tl.sortDomElements($(this).val(), $('button#toggle-sort').val())">
    </select>
    <div class="input-group-append">
        <button type="button"
                id="toggle-sort"
                value="asc"
                class="tl-btn tl-btn-outline-primary shadow-none border tl-border-primary mdi mdi-sort-alphabetical-ascending"
                title="{% trans 'toggle order' %}"
                onClick="tl.toggleSort('button#toggle-sort','select#sort-criterion')">
        </button>
    </div>
