{% load static %}

<link rel="stylesheet" href="{% static "bootstrap-table/dist/bootstrap-table.min.css"%}"/>


<div class="table-responsive {{table_classes}}">
    <table class="table table-striped table-hover"
           data-locale="{{ LOCALE }}"
           data-toggle="table"
           data-search="true"
           data-paginate="true"
           id="{{table_identifier}}">
           <thead>
               <tr>
                   {% block thead %}
                   {% endblock %}
               </tr>
           </thead>
           <tbody>
                {% block tbody %}
                {% endblock %}
            </tbody>
    </table>
</div>

<script type="text/javascript">
    $().ready(function() {
        if ($('#filter').length > 0) {
            // Global filter replaces bootstrap-table search
            $('.bootstrap-table .fixed-table-toolbar .search').parent().remove();
        }
    });
</script>
