<div class="input-group mb-3 mt-3">
    <div class="input-group-prepend mr-1">
        <label for="public_link_checkbox" class="tl-input-group-text">
            <i class="mdi mdi-{{ icon }} mr-1"></i>{{ label }}
            <input type="hidden"
                   value="{{ base_url }}{{ token }}"
                   name="token"
                   id="token"
            />
            <a class="tl-dropdown-item p-0 btn{% if not token %} d-none{% endif %}"
               onclick="tl.copyToClip('token')"
            >
                <i class="mdi mdi-{{ copy_icon }} mr-1"></i>{{ copy_label }}
            </a>
        </label>
    </div>
    <input type="{{ widget.type }}"
           name="{{ widget.name }}"
           id="public_link_checkbox"
           data-toggle="toggle"
           data-on="{{ on_icon }}{{ on_text }}"
           data-off="{{ off_icon }}{% if not widget.value %}{{ off_text }}{% else %}{{ del_text }}{% endif %}"
           data-onstyle="{{ on_style }}"
           data-offstyle="{% if not widget.value %}{{ off_style }}{% else %}{{ del_style }}{% endif %}"
           data-width="210"
           data-height="false"
           {% if token %} checked{% endif %}
           {% include "django/forms/widgets/attrs.html" %}
    />
</div>
