<div class="col-12"></div>
<div class="tl-input-group {{ wrapper_classes }} mb-3 mt-3">
    <div class="input-group-prepend mr-1">
        <span class="tl-input-group-text">
            {% if input_icon %}
                <i class="mdi mdi-{{ input_icon }} mr-1"></i>
            {% endif %}
            <div class="tl-hover-img tl-hover-right ">
                <span {% if widget.value and widget.value.url %} class="tl-hover-text"{% endif %}>{{ input_label }}</span>
                {% if widget.value and widget.value.url %}
                    <img src="{{ widget.value.url }}" alt="image" width="{{ image_size }}" />
                {% endif %}
            </div>
        </span>
    </div>
    <div class="tl-custom-file">
        <label class="tl-custom-file-label" for="{{ widget.name }}">
            <span class="file-selected">{{ input_browse_text }}</span>
            <input type="{{ widget.type }}"
                   class="tl-custom-file-input d-none"
                   name="{{ widget.name }}"
                   accept="{{ input_accept }}"
                   id="{{ widget.name }}"
                   onChange="tl.fileInputPlaceholder(this);"
                   {% include "django/forms/widgets/attrs.html" %}
            />
        </label>
    </div>
</div>

{% if widget.is_initial and is_clearable %}
    <div class="tl-input-group {{ wrapper_classes }} mb-3 mt-3">
        {% if not widget.required %}
            <div class="input-group-prepend mr-1">
                <label for="{{ widget.checkbox_id }}" class="tl-input-group-text">
                    {% if delete_icon %}
                        <i class="mdi mdi-{{ delete_icon }} mr-1"></i>
                    {% endif %}
                    {{ delete_label }}
                </label>
            </div>
        {% endif %}
        <input type="checkbox"
               name="{{ widget.checkbox_name }}"
               id="{{ widget.checkbox_id }}"
               data-toggle="toggle"
               data-on="{{ delete_on_icon }}{{ delete_on_text }}"
               data-off="{{ delete_off_icon }}{{ delete_off_text }}"
               data-onstyle="{{ delete_on_style }}"
               data-offstyle="{{ delete_off_style }}"
               data-width="210"
               data-height="false"
               {% if widget.attrs.disabled %} disabled{% endif %}
               />
    </div>
{% endif %}