<select multiple
        name="{{ widget.name }}"
        class="selectpicker ml"
        data-actions-box="true"
        data-select-all-text="{{ select_all_text }}"
        data-deselect-all-text="{{ deselect_all_text }}"
        aria-label="multiple select"
        data-width="210"
        title="{{ title }}"
        {% if disabled %} disabled{% endif %}
        {% include "django/forms/widgets/attrs.html" %}
>
    {% for option in options %}
        <option value="{{ option.value|stringformat:'s' }}"
                {% if option.value in widget.value %} selected {% endif %}
                {{ option.disabled }}
        >
            {{ option.label }}
        </option>
    {% endfor %}
</select>
