{% extends "registration/registration.html" %}
{% load i18n %}



{% block title %}
    {% trans "Login locked" %}
{% endblock %}

{% block cardheader %}
    {% trans "Too many login attempts" %}
{% endblock %}


{% block cardbody %}

    <p>
    {% blocktranslate %}Too many login attempts from your IP, please wait for {{ cooloff_timedelta }} hours{% endblocktranslate %}.
    </p>

    <p><a href="{% url 'password_reset' %}">{% trans "In the meantime you can reset your password by clicking here" %}</a></p>
{% endblock %}
