{% extends "registration/registration.html" %}
{% load i18n %}
{% load rules %}



{% block title %}
    {% trans "Login" %}
{% endblock %}


{% block cardheader %}
    {% trans "Login" %}
{% endblock %}

{% block cardbody %}
    {% if next %}
        {% if user.is_authenticated %}
            {% trans "This account cannot acces this page, please try with another account" %}
        {% else %}
            {% trans "You need to login to see this page" %}
        {% endif %}
    {% endif %}
    </p>


    {% include "components/form.html" with form=form submit=True action="" classes="tl-center" %}

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">{% trans "Forgotten password ?" %}</a></p>
    {% has_perm 'TetrasBI.login_as_guest' user as can_login_as_guest %}
    {% if can_login_as_guest %}
        <p><a href="/dashboard/guest" id="guest_login">{% trans "Log in as a guest" %}</a></p>
    {% endif %}
{% endblock %}
