{% extends "registration/registration.html" %}
{% load i18n %}

{% block title %}{% trans "New password" %}{% endblock %}

{% block cardheader %}
{% trans "Change your password" %}
{% endblock %}

{% block cardbody %}
{% if form.errors %}
    <script type="text/javascript">
        $().ready(function(){
                        tl.alertGently('{% trans "Password confirmation incorect or password too weak." %}', 'danger');
                    });
    </script>
{% endif %}

{% if validlink %}
    <p>{% trans "Please enter your email et we'll send you a reinitialization email" %}</p>

    {% include "components/form.html" with form=form submit=True action="" classes="tl-center" %}
{% else %}
    <p>{% trans "Link expired, please ask for a new one" %}</p>
{% endif %}
{% endblock %}
