{% extends "registration/registration.html" %}
{% load i18n %}

{% block title %}{% trans "Password changed" %}{% endblock %}

{% block cardheader %}
{% trans "Password reset complete" %}
{% endblock %}

{% block cardbody %}
            <p>{% trans "Your password has been changed !" %}<br />
            <a href="{% url 'login' %}">{% trans "login" %}</a>.</p>
{% endblock %}
